<div class="container-fluid issue_panel mb-3">
    <div class="row">
        <div class="col-12 col-md-6">
            <p><strong>Title: </strong>{{ answer.title }}</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-12 col-md-5 text-md-right">
            <p><strong>Author: </strong>{{ answer.author }}</p>
            <p><strong>Date: </strong>{{ answer.date_submitted|date:"d/m/Y" }}</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 text-center">
            <p><strong>CONTENT</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ answer.content|safe }}
        </div>
    </div>
    {% if answer.screenshot_img %}
    <div class="row">
        <div class="col-12">
            <img class="screenshot-img" src="{{ answer.screenshot_img.url }}" alt="Screenshot">
        </div>
    </div>
    {% endif %}
</div>