{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>XBasic Promo</title>

    <script src="https://kit.fontawesome.com/8b758f6b51.js" crossorigin="anonymous"></script>
<style>
 .logo {
    height: 200px;
    background: url( "https://res.cloudinary.com/dye9ynxxb/image/upload/v1680543486/logo_oxsmdr.webp" );
    background-size: 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: cyan;
}
   
</style>
</head>

<body>
    <!-- Banner Head and Menu-->
    <header class="container-fluid">
        <div class="row">
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 logo">
                    <a class="logo-link" href="{% url 'home' %}"></a>
                </div>
            <div class="col-6 col-sm-8 col-md-9 col-lg-10">
                <div class="row site-heading-bar text-right">
                    <div class="col-12">
                        <h1>XBasic Promo<h1>
                    </div>
                </div>
                <!-- Menu -->
                <div class="row menu-bar bg-color-menu">
                    <div class="col-12 menu-col">
                        <nav class="navbar navbar-expand-lg navbar-light menu-block bg-color-menu">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav ml-auto">
                                <li class="nav-item active menu-item">
                                  <a class="nav-link" href="{% url 'feature_page' 'gui-design' %}">GUI-Design</a>
                                </li>
                                <li class="nav-item active menu-item">
                                    <a class="nav-link" href="{% url 'feature_page' 'language' %}">Language</a>
                                </li>
                                <li class="nav-item active menu-item">
                                    <a class="nav-link" href="{% url 'feature_page' 'functions' %}">Functions</a>
                                </li>
                                <li class="nav-item active menu-item">
                                    <a class="nav-link" href="{% url 'feature_page' 'debugging' %}">Debugging</a>
                                </li>
                                <li class="nav-item active menu-item">
                                    <a class="nav-link" href="#">Issues</a>
                                </li>
                                <li class="nav-item active menu-item">
                                    <a class="nav-link" href="#">Sign-in/up</a>
                                </li>
                                <li class="nav-item active menu-item">
                                  <a class="nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                                </li>
                              </ul>
                            </div>
                          </nav>  
                    </div>
                </div>
            </div>
        </div>

    </header>

    {% block content %}
    {% endblock content %}

    <footer class="container-fluid">
        <div class="row footer-bar">
            <div class="col-3 footer-link-div text-center">
                <div class="footer-link-block">
                    <a href="https://narayana-art.co.uk/XBManual" target="_blank">
                        <img src="https://res.cloudinary.com/dye9ynxxb/image/upload/v1680544869/logo-small_hguofe.webp" alt="XBasic Logo">
                        XBasic Manual
                    </a>
                </div>
            </div>
            <div class="col-3 footer-link-div text-center">
                <div class="footer-link-block">
                    <a href="https://sourceforge.net/projects/xbasic/" target="_blank">
                        <img src="https://res.cloudinary.com/dye9ynxxb/image/upload/v1680544417/sourceforge-icon_ryuprq.webp" alt="Sourceforge">
                        Sourceforge Download
                    </a>
                </div>
            </div>
            <div class="col-3 footer-link-div text-center">
                <div class="footer-link-block">
                    <a href="https://github.com/xbwlteam" target="_blank">
                        <i class="fa fa-github"></i>
                        GitHub Download
                    </a>
                </div>
            </div>
            <div class="col-3 footer-link-div text-center">
                <div class="footer-link-block">
                    <a href="https://groups.io/g/MaxReasonsxBasic/topics?p=,,,0,0,0,0" target="_blank">
                        <img src="https://res.cloudinary.com/dye9ynxxb/image/upload/v1680544633/groups.io-logo_cdjtcl.webp" alt="Groups.io Logo">
                        XBUser Group
                    </a>
                </div>
            </div>
       </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>