{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="XBasic programming language and issues pages">
    <meta name="keywords" content="XBasic, programming language">
    <meta name="author" content="Robin Warner">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" rel="stylesheet">
    

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>XBasic Promo</title>

    <script src="https://kit.fontawesome.com/8b758f6b51.js" crossorigin="anonymous"></script>
<style>
 .logo {
    height: 200px;
    background: url( "https://res.cloudinary.com/dye9ynxxb/image/upload/v1680543486/logo_oxsmdr.webp" );
    background-size: 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: cyan;
}
   
</style>
</head>

<body>
    <!-- Banner Head and Menu-->
    <header class="container-fluid">
        <div class="row">
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 logo">
                    <a class="logo-link" href="{% url 'home' %}" aria-label="Link to Home Page"></a>
                </div>
            <div class="col-6 col-sm-8 col-md-9 col-lg-10">
                <div class="row site-heading-bar text-right">
                    <div class="col-12">
                        <h1>XBasic Promo</h1>
                    </div>
                </div>
                <!-- Menu -->
                <div class="row menu-bar bg-color-menu">
                    <div class="col-12 menu-col">
                        <nav class="navbar navbar-expand-lg navbar-light menu-block bg-color-menu">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav ml-auto">
                                <li class="nav-item active menu-item">
                                  <a class="nav-link" href="{% url 'feature_page' 'gui-design' %}">GUI-Design</a>
                                </li>
                                <li class="nav-item active menu-item">
                                    <a class="nav-link" href="{% url 'feature_page' 'language' %}">Language</a>
                                </li>
                                <li class="nav-item active menu-item">
                                    <a class="nav-link" href="{% url 'feature_page' 'functions' %}">Functions</a>
                                </li>
                                <li class="nav-item active menu-item">
                                    <a class="nav-link" href="{% url 'feature_page' 'debugging' %}">Debugging</a>
                                </li>
                                <li class="nav-item active menu-item">
                                    <a class="nav-link" href="{% url 'issue_display' %}?t={{ timestamp }}">Issues</a>
                                </li>
                                {% if user.is_authenticated %}
                                <li class="nav-item active menu-item">
                                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                                </li>
                                {% else %}
                                <li class="nav-item active menu-item">
                                    <a class="nav-link" href="{% url 'account_login' %}">Sign-in/up</a>
                                </li>
                                {% endif %}
                                <li class="nav-item active menu-item">
                                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                                </li>
                              </ul>
                            </div>
                          </nav>  
                    </div>
                </div>
            </div>
        </div>

    </header>

    <!-- Message Status Bar -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible
                    fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" 
                        data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock content %}

    <footer class="container-fluid">
        <div class="row footer-bar">
            <div class="col-3 footer-link-div text-center">
                <div class="footer-link-block">
                    <a href="https://narayana-art.co.uk/XBManual" target="_blank">
                        <img src="https://res.cloudinary.com/dye9ynxxb/image/upload/v1680544869/logo-small_hguofe.webp" width="40" height="40" alt="XBasic Logo">
                        XBasic Manual
                    </a>
                </div>
            </div>
            <div class="col-3 footer-link-div text-center">
                <div class="footer-link-block">
                    <a href="https://sourceforge.net/projects/xbasic/" target="_blank">
                        <img src="https://res.cloudinary.com/dye9ynxxb/image/upload/v1680544417/sourceforge-icon_ryuprq.webp" width="40" height="40" alt="Sourceforge">
                        Sourceforge Download
                    </a>
                </div>
            </div>
            <div class="col-3 footer-link-div text-center">
                <div class="footer-link-block">
                    <a href="https://github.com/xbwlteam" target="_blank">
                        <i class="fa fa-github"></i>
                        GitHub Download
                    </a>
                </div>
            </div>
            <div class="col-3 footer-link-div text-center">
                <div class="footer-link-block">
                    <a href="https://groups.io/g/MaxReasonsxBasic/topics?p=,,,0,0,0,0" target="_blank">
                        <img src="https://res.cloudinary.com/dye9ynxxb/image/upload/v1680544633/groups.io-logo_cdjtcl.webp" width="40" height="40" alt="Groups.io Logo">
                        XBUser Group
                    </a>
                </div>
            </div>
       </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs4.min.js"></script>

    <script>
        var scroll_to_answer;

        $(document).ready(function() {
            $('#id_content').summernote();

            $('#deleteIssueButton').click(function() {
                deleteItemUrl = deleteIssueUrl;
                $('#confirmationModal').data('url', deleteItemUrl);
                $('#confirmationModal').modal('show');
            });

            $('#deleteAnswerButton').click(function() {
                deleteItemUrl = deleteAnswerUrl;
                $('#confirmationModal').data('url', deleteItemUrl);
                $('#confirmationModal').modal('show');
            });

            $('#confirmButton').click(function() {
                console.log("Got to confirm delete", deleteItemUrl)
                $.ajax({
                    url: deleteItemUrl,
                    method: 'POST',
                    cache: false,
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'issue_id': issueId
                    },
                    success: function(data) {
                        // Does not return to this, redirected
                        window.location.href = data.redirect_url;
                    },
                    error: function() {
                        // show an error message or handle the error
                        console.log("Had a delete item error");
                    }
                });
                $('#confirmationModal').modal('hide');
            });

            setTimeout(function () {
				let messages = document.getElementById("msg");
				let alert = new bootstrap.Alert(messages);
				alert.close();
			}, 10000);

        });

        $(window).on("load", function() {
            setTimeout( function () {
                if (scroll_to_answer) {
                    e = document.getElementById('answerTitle');
                    e.scrollIntoView();
                }
            }, 2500);
        })   

    </script>
      
</body>
</html>