{% extends "base.html" %}

{% block content %}
<div class="container">
    <!-- Issue Panel for reference -->
    <div class="row">
        <div class="col-12 text-center">
            <h3>Add or Edit Answer</h3>
        </div>
        <div class="col-12 text-center">
            <h3>Issue for Reference</h3>
        </div>
    </div>
    {% include "issue_panel.html" %}

    <div class="row">
        <div class="col-12 text-center">
            <h3>Your Answer</h3>
        </div>
    </div>
    {% if edit %}
    <form class="edit_form" method="post" enctype="multipart/form-data" action="{% url 'edit_answer' issue_id=issue_id answer_id=answer_id %}">
    {% else %}
    <form class="edit_form" method="post" enctype="multipart/form-data" action="{% url 'add_answer' issue_id=issue_id %}">
    {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
            <div class="col-4 col-lg-2">
                <button type="submit" class="btn-edit-submit">Submit</button>
            </div>
        </div>
    </form>

</div>
{% endblock content %}