{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Issue</h3>
        </div>
    </div>
    {% if edit == 1 %}
    <form method="post" enctype="multipart/form-data" action="{% url 'edit_issue' edit=1 issue_num=issue_num search_field=search_field issue_id=issue_id %}">
    {% else %}
    <form method="post" enctype="multipart/form-data" action="{% url 'add_issue' %}">
    {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
            <div class="col-4 col-lg-2">
                <button type="submit" class="btn-edit-submit">Submit</button>
            </div>
        </div>
    </form>
 </div> 

{% endblock content %}