{% extends 'base.html' %}

{% block content %}

<div class="feature-page-heading">
    <h2>{{ feature_page.page_title }}</h2>
</div>
{% if feature_page.page_intro %}
<div class="container-fluid site-intro-section">
    <div class="row">
        <div class="col-1 col-sm-2 col-md-5 col-lg-7">
            <!-- Positioning Column -->
        </div>
        <div class="col-11 col-sm-10 col-md-7 col-lg-5 text-center transparent-text-block">
            <p>{{ feature_page.page_intro | safe}}</p>
        </div>
    </div>
</div>
{% endif %}

{% for section in feature_sections %}
<div class="container mt-2 mb-2">
    <div class="row">
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12">
            <img class="section-img section-img-right" src="{{ section.section_image.url }}"  width="100" height="100" alt="XBasic Demo Screen">
            <h3>{{ section.title }}</h3>
            <p class="article-text">{{ section.article | safe }}</p>
        </div>
        {% else %}
        <div class="col-12">
            <img class="section-img section-img-left" src="{{ section.section_image.url }}"  width="100" height="100" alt="XBasic Demo Screen">
            <h3>{{ section.title }}</h3>
            <p class="article-text">{{ section.article | safe }}</p>
        </div>
        {% endif %}
    </div>
</div>
{% if not forloop.last %}
<hr>
{% endif %}
{% endfor %}

{% endblock content %}