{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center page-heading">
                <h2>XBasic Issues, Problems and Answers</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="issue-header">Issue</h3>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 text-center">
                <form action="{% url 'issue_display' %}" method="GET">
                    {% if search_field == "X" %}
                    <input class="issue-search" name="issue_search" type="text" 
                        placeholder="Title, Description or Keyword words">
                    {% else %}
                    <input class="issue-search" name="issue_search" type="text" 
                        value="{{ search_field }}">
                    {% endif %}
                    <button class="btn-submit" type="submit">
                        <i class="fas fa-search search-icon"></i>
                    </button>
                </form>
                <br>
                <p>Number Found: {{ num_issues }} Current Item: {{ issue_num }}</p>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                {% if issue_num == 0 %}
                <a href="{% url 'step_issue' issue_num=0 answer_num=0 search_field=search_field%}">
                    <button class="btn-edit-submit">Prev</button>
                </a>
                {% else %} 
                    {% with issue_num=issue_num|add:-1 %} 
                    <a href="{% url 'step_issue' issue_num=issue_num answer_num=0 search_field=search_field%}">
                        <button class="btn-edit-submit">Prev</button>
                    </a>
                    {% endwith %}
                {% endif %}
            </div>
            <div class="col-1"></div>
            <div class="col-4">
                <a href="#">
                    <button class="btn-edit-submit">Add New</button>
                </a>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                {% with issue_num=issue_num|add:1 %} 
                <a href="{% url 'step_issue' issue_num=issue_num answer_num=0 search_field=search_field %}">
                    <button class="btn-edit-submit">Next</button>
                </a>
                {% endwith %}
            </div>
        </div>
        {% if not user.is_authenticated %}
        <div class="row">
            <div class="col-10 offset-1 alert alert-warning text-center" role="alert">
                Please register/login in order to add an issue
            </div>
        </div>
        {% endif %}
        {% include "issue_panel.html" with issue=issue %}

        <!-- Answer Section -->
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="issue-header">Answers</h3>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                {% if issue_num == 0 %}
                <a href="{% url 'step_issue' issue_num=0 answer_num=0 search_field=search_field %}">
                    <button class="btn-edit-submit">Prev</button>
                </a>
                {% else %} 
                    {% with issue_num=issue_num|add:-1 %} 
                    <a href="{% url 'step_issue' issue_num=issue_num answer_num=0 search_field=search_field%}">
                        <button class="btn-edit-submit">Prev</button>
                    </a>
                    {% endwith %}
                {% endif %}
            </div>
            <div class="col-1"></div>
            <div class="col-4">
                <a href="#">
                    <button class="btn-edit-submit">Add New</button>
                </a>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                {% with issue_num=issue_num|add:1 %} 
                <a href="{% url 'step_issue' issue_num=issue_num answer_num=0 search_field=search_field %}">
                    <button class="btn-edit-submit">Next</button>
                </a>
                {% endwith %}
            </div>
        </div>
        {% include 'answer_panel.html' with answer=answer %}
    </div>
{% endblock content %}