<div class="row">
    {% if type == 'issue' and num_issues > 0 or type == "answer" and num_answers > 0 %}
    <div class="col-12 text-center">
        <p>Number Found: {{ num_items }} Current Item: {{ item_num|add:1 }}</p>
    </div>
    {% else %}
    <div class="col-12 text-center">
        <p>No Items Present</p>
    </div>
    {% endif %}
</div>
<div class="row mb-1">
    {% if type == 'issue' and num_issues > 0 or type == "answer" and num_answers > 0 %}
    <div class="col-xs-4 col-sm-2 col-md-2 text-center">
        {% if item_num == 0 %}
        <a class="btn-edit-submit" href="{% url 'step_issue' issue_num=0 answer_num=0 search_field=search_field scroll_to_answer=0 scroll_delay=0 %}" aria-label="Previous">
            Prev
        </a>
        {% else %} 
            {% with item_num=item_num|add:-1 %} 
                {% if type == 'issue' %}
                <a class="btn-edit-submit" href="{% url 'step_issue' issue_num=item_num answer_num=0 search_field=search_field scroll_to_answer=0 scroll_delay=0%}" id="previousIssue" aria-label="Previous Issue">
                    Prev
                </a>
                {% else %}
                <a class="btn-edit-submit" href="{% url 'step_issue' issue_num=0 answer_num=item_num search_field=search_field scroll_to_answer=1 scroll_delay=0 %}" id="previousAnswer" aria-label="Previous Answer">
                    Prev
                </a>
                {% endif %}
            {% endwith %}
        {% endif %}
    </div>
    {% else %}
    <div class="col-2"></div>
    {% endif %}

    {% if user.is_superuser %}
        {% if num_items > 0 %}
        <div class="col-1"></div>
        <div class="col-xs-4 col-sm-2 col-md-2 text-center">
            {% if type == "issue" %}
            <a class="btn-edit-submit" href="{% url 'add_issue' %}" id="newIssueSuperUser" aria-label="New Issue Super-User Link">
                New
            </a>
            {% else %}
            <a class="btn-edit-submit" href="{% url 'add_answer' issue_id=issue.id %}" id="newAnswerSuperUser" aria-label="New Answer Super-User Link">
                New
            </a>
            {% endif %}
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 text-center">
            {% if type == "issue" %}
            <a class="btn-edit-submit" href="{% url 'edit_issue' edit=1 issue_num=issue_num search_field=search_field issue_id=issue.id %}" id="editIssueSuperUser" aria-label="Edit Issue Super-User Link">
                Edit
            </a>
            {% else %}
            <a class="btn-edit-submit" href="{% url 'edit_answer' issue_id=issue.id answer_id=answer.id %}" id="editAnswerSuperUser" aria-label="Edit Answer Super-User Link">
                Edit
            </a>
            {% endif %}
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2">
            {% if type == "issue" %}
                <button class="btn-edit-submit" id="deleteIssueButton" aria-label="Delete Issue">Delete</button>
            {% else %}
                <button class="btn-edit-submit" id="deleteAnswerButton" aria-label="Delete Answer">Delete</button>
            {% endif %}
        </div>
        <div class="col-1"></div>
        {% else %}
        <div class="col-3"></div>
        <div class="col-xs-4 col-sm-2 col-md-2 text-center">
            {% if type == "issue" %}
            <a class="btn-edit-submit" href="{% url 'add_issue' %}" id="newIssueSuperUserNoEntries" aria-label="New Issue Super-User NoEntries">
                New
            </a>
            {% endif %}
        </div>
        <div class="col-3"></div>
        {% endif %}

    {% elif user.is_authenticated %}
        {% if num_items == 0 %}
        <div class="col-3"></div>
        <div class="col-xs-4 col-sm-2 col-md-2 text-center">
            {% if type == "issue" %}
            <a class="btn-edit-submit" href="{% url 'add_issue' %}" id="newIssueUser" aria-label="New Issue User">
                New
            </a>
            {% else %}
                {% if num_issues > 0 %}
                    <a class="btn-edit-submit" href="{% url 'add_answer' issue_id=issue.id %}" id="newAnswerUser" aria-label="New Answer User">
                        New
                    </a>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-5"></div>
        {% elif type == "issue" and issue.author.username == user.username or type == "answer" and answer.author.username == user.username %}
        <div class="col-sm-1"></div>
        <div class="col-xs-4 col-sm-2 col-md-2 text-center">
            {% if type == "issue" %}
            <a class="btn-edit-submit" href="{% url 'add_issue' %}" id="newIssueUser" aria-label="New Issue User">
                New
            </a>
            {% else %}
            <a class="btn-edit-submit" href="{% url 'add_answer' issue_id=issue.id %}" id="newAnswerUser" aria-label="New Answer User">
                New
            </a>
            {% endif %}
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 text-center">
            {% if type == "issue" %}
            <a class="btn-edit-submit" href="{% url 'edit_issue' edit=1 issue_num=issue_num search_field=search_field issue_id=issue.id %}" id="editIssueUser" aria-label="Edit Issue User">
                Edit
            </a>
            {% else %}
            <a class="btn-edit-submit" href="{% url 'edit_answer' issue_id=issue.id answer_id=answer.id %}" id="editAnswerUser" aria-label="Edit Answer User">
                Edit
            </a>
            {% endif %}
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2">
            {% if type == "issue" %}
                <button class="btn-edit-submit" id="deleteIssueButton" aria-label="Delete Issue">Delete</button>
            {% else %}
                <button class="btn-edit-submit" id="deleteAnswerButton" aria-label="Delete Answer">Delete</button>
            {% endif %}
        </div>
        <div class="col-sm-1"></div>
        {% else %}
        <div class="col-3"></div>
        <div class="col-xs-4 col-sm-2 col-md-2 text-center">
            {% if type == "issue" %}
            <a class="btn-edit-submit" href="{% url 'add_issue' %}" id="newIssueUserNoEntries" aria-label="New Issue User No Entries">
                New
            </a>
            {% else %}
            <a class="btn-edit-submit" href="{% url 'add_answer' issue_id=issue.id %}" id="newAnswerUserNoEntries" aria-label="New Answer User No Entries">
                New
            </a>
            {% endif %}
        </div>
        <div class="col-3"></div>
        {% endif %}
       
    {% else %}
     <div class="col-xs-0 col-sm-8"></div>
    {% endif %}

    {% if type == 'issue' and num_issues > 0 or type == "answer" and num_answers > 0 %}
    <div class="col-xs-4 col-sm-2 col-md-2 text-center">
        {% with item_num=item_num|add:1 %}
            {% if type == 'issue' %}
            <a class="btn-edit-submit" href="{% url 'step_issue' issue_num=item_num answer_num=0 search_field=search_field scroll_to_answer=0 scroll_delay=0 %}" id="nextIssue" aria-label="Next Issue">
                Next
            </a>
            {% else %}
            <a class="btn-edit-submit" href="{% url 'step_issue' issue_num=issue_num answer_num=item_num search_field=search_field scroll_to_answer=1 scroll_delay=0 %}" id="nextAnswer" aria-label="Next Answer">
                Next
            </a>
            {% endif %}
        {% endwith %}
    </div>
    {% endif %}

</div>

  
<script>
    {% if type == 'issue' %}
        if ("{{ num_items }}" > 0) {
            var issueId = "{{ issue.id }}";
            {% if issue %}
                var deleteIssueUrl = "{% url 'delete_issue' issue_id=issue.id %}";
            {% endif %}
        }
    {% endif %}

    {% if answer %}
        var deleteAnswerUrl = "{% url 'delete_answer' issue_id=issue.id answer_id=answer.id %}";
    {% endif %}
    var deleteItemUrl = ""; // Global for alternative value
    var answerId = "{{ answer.id }}";
</script>