{% extends "base.html" %}

{% block content %}
    <div class="container" id="issuesContainer">
        <div class="row">
            <div class="col-12 text-center page-heading">
                <h2>XBasic Issues, Problems and Answers</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="issue-header">Issue</h3>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 text-center">
                <form action="{% url 'issue_display' %}" method="get">
                    {% if search_field == "X" %}
                    <input class="issue-search" name="issue_search" type="text" 
                        placeholder="Title, Description or Keyword words">
                    {% else %}
                    <input class="issue-search" name="issue_search" type="text" 
                        value="{{ search_field }}">
                    {% endif %}
                    <button class="btn-submit" type="submit" aria-label="Search Submit">
                        <i class="fas fa-search search-icon"></i>
                    </button>
                </form>
            </div>
        </div>

        {% include 'issue_control.html' with type="issue" record=issue num_items=num_issues item_num=issue_num %}

        {% if not user.is_authenticated %}
        <div class="row">
            <div class="col-10 offset-1 alert alert-warning text-center" role="alert">
                Please register/login in order to add an issue or answer
            </div>
        </div>
        {% endif %}
        {% include "issue_panel.html" with issue=issue %}

        <!-- Answer Section -->
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="issue-header" id="answerTitle">Answers</h3>
            </div>
        </div>
        {% include 'issue_control.html' with type="answer" record=answer num_items=num_answers item_num=answer_num %}

        {% include 'answer_panel.html' with answer=answer %}
        
        <script>
            {% if scroll_to_answer == 1 %}
            var scroll_to_answer = true;
            {% endif %}
        </script>
    </div>

{% endblock content %}